# {{ ansible_managed }}

{% if thruk_cgi_show_context_help %}
show_context_help = 1
{% else %}
show_context_help = 0
{% endif %}
{% if thruk_cgi_use_authentication %}
use_authentication = 1
{% else %}
use_authentication = 0
{% endif %}
{% if thruk_cgi_use_ssl_authentication %}
use_ssl_authentication = 1
{% else %}
use_ssl_authentication = 0
{% endif %}
{% if thruk_cgi_default_user_name %}
default_user_name = {{ thruk_cgi_default_user_name }}
{% endif %}
authorized_for_system_information = {{ thruk_cgi_authorized_for_system_information | join(",") }}
authorized_for_configuration_information = {{ thruk_cgi_authorized_for_configuration_information | join(",") }}
authorized_for_system_commands = {{ thruk_cgi_authorized_for_system_commands | join(",") }}
authorized_for_all_services = {{ thruk_cgi_authorized_for_all_services | join(",") }}
authorized_for_all_hosts = {{ thruk_cgi_authorized_for_all_hosts | join(",") }}
authorized_for_all_service_commands = {{ thruk_cgi_authorized_for_all_service_commands | join(",") }}
authorized_for_all_host_commands = {{ thruk_cgi_authorized_for_all_host_commands | join(",") }}
refresh_rate = {{ thruk_cgi_refresh_rate }}
{% if thruk_cgi_escape_html_tags %}
escape_html_tags = 1
{% else %}
escape_html_tags = 0
{% endif %}
action_url_target = {{ thruk_cgi_action_url_target }}
notes_url_target = {{ thruk_cgi_notes_url_target }}
{% if thruk_cgi_lock_author_names %}
lock_author_names = 1
{% else %}
lock_author_names = 0
{% endif %}
