url_prefix={{ thruk_url_prefix }}
use_bookmark_titles={{ thruk_use_bookmark_titles }}
use_dynamic_titles={{ thruk_use_dynamic_titles }}
use_strict_host_authorization={{ thruk_use_strict_host_authorization }}
{% for allowed_host in thruk_csrf_allowed_hosts %}
csrf_allowed_hosts={{ allowed_host }}
{% endfor %}
disable_user_password_change={{ thruk_disable_user_password_change }}
user_password_min_length={{ thruk_user_password_min_length }}
max_process_memory={{ thruk_max_process_memory }}
use_frames={{ thruk_use_frames }}
use_feature_histogram={{ thruk_use_feature_histogram }}
use_feature_trends={{ thruk_use_feature_trends }}
use_feature_recurring_downtime={{ thruk_use_feature_recurring_downtime }}
use_service_description={{ thruk_use_service_description }}
strict_passive_mode={{ thruk_strict_passive_mode }}
hide_passive_icon={{ thruk_hide_passive_icon }}
delay_pages_after_backend_reload={{ thruk_delay_pages_after_backend_reload }}
ssl_verify_hostnames={{ thruk_ssl_verify_hostnames }}
use_new_search={{ thruk_use_new_search }}
use_new_command_box={{ thruk_use_new_command_box }}
use_ajax_search={{ thruk_use_ajax_search }}
ajax_search_hosts={{ thruk_ajax_search_hosts }}
ajax_search_hostgroups={{ thruk_ajax_search_hostgroups }}
ajax_search_services={{ thruk_ajax_search_services }}
ajax_search_servicegroups={{ thruk_ajax_search_servicegroups }}
ajax_search_timeperiods={{ thruk_ajax_search_timeperiods }}
default_theme={{ thruk_default_theme }}
tmp_path={{ thruk_tmp_path }}
var_path={{ thruk_var_path }}
thruk_user={{ thruk_user }}
thruk_group={{ thruk_group }}
ssi_path={{ thruk_ssi_path }}
plugin_path={{ thruk_plugin_path }}
themes_path={{ thruk_themes_path }}
log4perl_path={{ thruk_log4perl_conf }}
use_pager={{ thruk_use_pager }}
paging_steps={{ thruk_paging_steps }}
group_paging_overview={{ thruk_group_paging_overview }}
group_paging_summary={{ thruk_group_paging_summary }}
group_paging_grid={{ thruk_group_paging_grid }}
show_long_plugin_output={{ thruk_show_long_plugin_output }}
status_color_background={{ thruk_status_color_background }}
info_popup_event_type={{ thruk_info_popup_event_type }}
info_popup_options={{ thruk_info_popup_options }}
show_notification_number={{ thruk_show_notification_number }}
show_config_edit_buttons={{ thruk_show_config_edit_buttons }}
show_backends_in_table={{ thruk_show_backends_in_table }}
show_full_commandline={{ thruk_show_full_commandline }}
show_full_commandline_source={{ thruk_show_full_commandline_source }}
perf_bar_mode={{ thruk_perf_bar_mode }}
perf_bar_pnp_popup={{ thruk_perf_bar_pnp_popup }}
shown_inline_pnp={{ thruk_shown_inline_pnp }}
show_modified_attributes={{ thruk_show_modified_attributes }}
can_submit_commands={{ thruk_can_submit_commands }}
force_sticky_ack={{ thruk_force_sticky_ack }}
force_send_notification={{ thruk_force_send_notification }}
force_persistent_ack={{ thruk_force_persistent_ack }}
force_persistent_comments={{ thruk_force_persistent_comments }}
downtime_duration={{ thruk_downtime_duration }}
expire_ack_duration={{ thruk_expire_ack_duration }}
datetime_format={{ thruk_datetime_format }}
datetime_format_today={{ thruk_datetime_format_today }}
datetime_format_long={{ thruk_datetime_format_long }}
datetime_format_log={{ thruk_datetime_format_log }}
datetime_format_trends={{ thruk_datetime_format_trends }}
cron_file={{ thruk_cron_file }}
cron_pre_edit_cmd={{ thruk_cron_pre_edit_cmd }}
cron_post_edit_cmd={{ thruk_cron_post_edit_cmd }}
bin={{ thruk_bin }}
init={{ thruk_init }}
use_wait_feature={{ thruk_use_wait_feature }}
wait_timeout={{ thruk_wait_timeout }}
mobile_agent={{ thruk_mobile_agent }}
show_error_reports={{ thruk_show_error_reports }}
skip_js_errors={{ thruk_skip_js_errors }}
cookie_auth_login_url={{ thruk_cookie_auth_login_url }}
cookie_auth_restricted_url={{ thruk_cookie_auth_restricted_url }}
cookie_auth_sessions_timeout={{ thruk_cookie_auth_session_timeout }}
cookie_auth_session_cache_timeout={{ thruk_cookie_auth_session_cache_timeout }}
